body {
  font-family: Arial, sans-serif;
  background: #f4efef;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.to-do-container {
  background: rgb(155, 108, 108);
  padding: 20px;
  border-radius: 10px;
  width: 320px;
  box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

h2 {
  text-align: center;
  color: rgb(255, 251, 231);
}

input {
  width: 70%;
  padding: 8px;
}

button {
  padding: 8px;
  cursor: pointer;
}

ul {
  list-style-type: none;
  padding: 0;
  margin-top: 10px;
}

li {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: #f9f9f9;
  margin: 5px 0;
  padding: 5px 10px;
  border-radius: 5px;
}

.left-part {
  display: flex;
  align-items: center;
  gap: 10px;
}

.completed span {
  text-decoration: line-through;
  color: gray;
}
